<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="BundleTable.EnableOptimizations" value="false" />

  <add key="forgotPasswordEmail" value="~/email-templates/ForgotPassword.html" />
  <add key="forgotPassword_email_subject" value="Mbale - Forgot password notification" />
  <add key="EmailAddressFrom" value="no-reply@mbale.com" />
  <add key="EmailAddressFromLabel" value="Mbale" />
  <add key="Password_Reset_Email_Subject" value="Password reset -Mbale"/>
  <add key="MbaleReceipt" value="~/documents/receipt.html" />

  <add key="SupplyTransactionSubTypeId" value="10004"/>
  <add key="SupplyStatusId" value="10002"/>
  <add key="SupplyStatusIdInProgress" value="1"/>
  <add key="StatusIdComplete" value="2"/>
  <add key="StatusIdOpen" value="10002"/>
  <add key="StatusIdInProgress" value="1"/>
  <add key="BrandId" value="2"/>
  <add key="FlourId" value="1"/>
  <add key="SectorId" value="1"/>
  <add key="OffLoadingTransactionSubTypeId" value="40009"/>
   <add key="StoneTransactionSubTypeId" value="50009"/>
  <add key="OffloadingRate" value="1000"/>
  <add key="StoneRate" value="3000"/>
  <add key="FlourSaleTransactionSubTypeId" value="5"/>
  <add key="BranSaleTransactionSubTypeId" value ="4"/>

  <add key="requistion_email_subject" value="Requistion"/>
  <add key="administrator-email" value="jpolosemakula@gmail.com"/>
  <add key="RequistionEmail" value="~/email-templates/Requistion.html" />
  

</appSettings>
