
<div id="header" ng-include="'/app/views/_common/header.html'"></div>

<aside id="menu" ng-include="'/app/views/_common/navigation.html'"></aside>

<div id="wrapper">

    <div ng-include="'/app/views/_common/Breadcrumb.html'"></div>

    <div class="content">
        <div class="row" ng-controller="BranchCashTransferController">
            <div class="col-lg-12">
                <div class="text-center">
                    <a class="btn btn-danger btn-sm">  {{branch.Name | uppercase}} </a>
                </div>
                <div class="clear0"></div>
                <a ui-sref="cash-branch-transfer({ action: 'create',cashTransferId: 0,branchId : branch.BranchId })" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> Transfer Cash</a>


                <span ng-if="loadingSpinner" class="loadingSpinner">
                    <img src="/images/loading-bars.svg" width="45" height="45" /> Loading...
                </span>

                <div class="clear10"></div>

                <div style="height: 520px" class="grid" ui-grid="gridData" ui-grid-selection></div>

            </div>

        </div>
    </div>
</div>



