
<div id="header" ng-include="'/app/views/_common/header.html'"></div>

<aside id="menu" ng-include="'/app/views/_common/navigation.html'"></aside>

<div id="wrapper">

    <div ng-include="'/app/views/_common/Breadcrumb.html'"></div>

    <div class="content" ng-controller="OrderDetailController">


        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div>
                        <form name="form" class="form-horizontal ng-pristine ng-valid col-md-12" novalidate unsaved-warning-form>
                            <input type="hidden" data-description="This field is used for intergration testing" name="itest-Id" value="{{order.OrderId}}" />
                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <i class="fa fa-laptop"></i> Order Detail
                                    </tab-heading>

                                    <div class="panel-body">


                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <div class="col-sm-12">
                                                    <h5>Customer Name</h5>
                                                    <p>{{order.CustomerName}}</p>
                                                    
                                                </div>
                                            </div>

                                            <div class="form-group col-sm-6">
                                                <div class="col-sm-12">
                                                    <h5>Order Number</h5>                                                   
                                                    <p>{{order.OrderId}}</p>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <div class="col-sm-12">
                                                    <h5>Total Quantity</h5>                                                   
                                                    <p ng-hide="order.ProductId==1">{{order.Amount}} Kgs</p>
                                                    <p ng-hide="order.ProductId !=1">{{order.TotalQuantity}} Kgs</p></div>
                                            </div>

                                            <div class="form-group col-sm-6">
                                                <div class="col-sm-12">
                                                    <h5>Status</h5>
                                                    <p>{{order.StatusName}}</p>                                                  
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="form-group col-sm-6">
                                                <div class="col-sm-12">
                                                    <h5>Product</h5>
                                                    <p>{{order.ProductName}}</p>

                                                </div>
                                            </div>

                                            <div class="form-group col-sm-6">
                                                <div class="col-sm-12">
                                                    <h5>branch</h5>
                                                    <p>{{order.BranchName}}</p> 
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" ng-hide="order.ProductId !=1">
                                            <div class="col-sm-12 col-md-12">
                                                Grade:
                                            </div>
                                            <div ng-repeat="grade in order.Grades" class="col-md-3 col-sm-12">
                                                <div class="col-sm-12 col-md-12">
                                                    <h3> {{grade.Value}}</h3>
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered">
                                                            <tbody>
                                                                <tr>
                                                                    <th width="40%">Value </th>
                                                                    <th width="35%">Quantity</th>
                                                                    <th width="25%">Balance</th>
                                                                </tr>
                                                                <tr ng-repeat="x in grade.Denominations">
                                                                    <td width="40%"><p> {{ x.Value }} Kg</p></td>
                                                                    <td width="35%">
                                                                        <p>{{x.Quantity}}</p>
                                                                    </td>
                                                                    <td width="35%">
                                                                        <p>{{x.Balance}}</p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="hr-line-dashed"></div>

                                        </div>



                                        <div class="row">


                                            <div class="col-sm-12" style="padding-left: 0px">


                                                <div class="hr-line-dashed"></div>


                                                
                                                
                                            </div>
                                        </div>
                                    </div>

                                </tab>

                               
                            </tabset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


