
<div id="header" ng-include="'/app/views/_common/header.html'"></div>

<aside id="menu" ng-include="'/app/views/_common/navigation.html'"></aside>

<div id="wrapper">

    <div ng-include="'/app/views/_common/Breadcrumb.html'"></div>

    <div class="content">
        <div class="row" ng-controller="BranchDashBoardController" >
            <div class="col-lg-12">

                <div class="clear0"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                                    <h3 class="m-xs text-uppercase">
                                        {{branch.Name}} <span ng-if="loadingSpinner" class="loadingSpinner"><img src="/images/loading-bars.svg" /></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <a class="btn btn-info btn-sm center-block"><i class="fa fa-bitbucket-square"></i> {{branch.Name}}</a>-->

                <span ng-if="loadingSpinner" class="loadingSpinner">
                    <img src="/images/loading-bars.svg" width="45" height="45" /> Loading...
                </span>

                <div class="clear10"></div>
                <div class="clear10"></div>
                <div class="clear10"></div>



                <div class="row">
                    <div class="col-md-6">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="text-center">
                                    <h2 class="m-b-xs"> Suppliers</h2>
                                   
                                    <div class="m">
                                        <i class="pe-7s-science fa-5x"></i>
                                    </div>
                                    
                                    <a ui-sref="suppliers.list"><button class="btn btn-success btn-sm">All Suppliers</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="text-center">
                                    <h2 class="m-b-xs">Casual Workers</h2>
                                    
                                    <div class="m">
                                        <i class="pe-7s-display1 fa-5x"></i>
                                    </div>

                                    <a href="#/casualWorkers/{{branch.BranchId}}"> <button class="btn btn-warning btn-sm">Branch CasualWorkers</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="text-center">
                                    <h2 class="m-b-xs">Orders</h2>
                                    <!--<p class="font-bold text-danger">Lorem ipsum</p>-->
                                    <div class="m">
                                        <i class="pe-7s-airplay fa-5x"></i>
                                    </div>
                                   
                                    <a href="#/orders/{{branch.BranchId}}">  <button class="btn btn-danger btn-sm">Branch Orders</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>Creditors</h4>
                                </div>
                                <div class="stats-icon pull-right">
                                    <i class="pe-7s-monitor fa-4x"></i>
                                </div>
                                <div class="m-t-xl">
                                    
                                    <a href="#/creditors/{{branch.BranchId}}"><button class="btn btn-danger btn-sm">Branch Creditors</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>Debtors</h4>
                                </div>
                                <div class="stats-icon pull-right">
                                    <i class="pe-7s-shuffle fa-4x"></i>
                                </div>
                                <div class="m-t-xl">
                                   
                                    <a href="#/debtors/{{branch.BranchId}}"><button class="btn btn-success btn-sm">Branch Debtors</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>Store</h4>
                                </div>
                                <div class="stats-icon pull-right">
                                    <i class="pe-7s-ticket fa-4x"></i>
                                </div>
                                <div class="m-t-xl">
                                  
                                    <a href="#/stores/branch/{{branch.BranchId}}"><button class="btn btn-info btn-sm">Branch Store</button></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>Deliveries</h4>
                                </div>
                                <div class="stats-icon pull-right">
                                    <i class="pe-7s-attention fa-4x"></i>
                                </div>
                                <div class="m-t-xl">
                                   
                                    <a href="#/deliveries/branch/{{branch.BranchId}}"><button class="btn btn-warning2 btn-sm">Branch Deliveries</button></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="hpanel hbggreen">
                            <div class="panel-body">
                                <div class="text-center">
                                    <a style="color:white" href="#/requistions/branch/{{branch.BranchId}}">
                                        <h3>Requistions</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="hpanel hbgblue">
                            <div class="panel-body">
                                <div class="text-center">
                                    <a style="color:white" href="#/orders/branch/{{branch.BranchId}}">
                                        <h3>Orders</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="hpanel hbgyellow">
                            <div class="panel-body">
                                <div class="text-center">
                                    <a style="color:white" href="#/batches/branch/{{branch.BranchId}}">
                                        <h3>Batches</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="hpanel hbgred">
                            <div class="panel-body">
                                <div class="text-center">
                                    <a style="color:white" href="#/transactions/branch/{{branch.BranchId}}">
                                        <h3>Transactions</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

