
<div id="header" ng-include="'/app/views/_common/header.html'"></div>

<aside id="menu" ng-include="'/app/views/_common/navigation.html'"></aside>

<div id="wrapper">

    <div ng-include="'/app/views/_common/Breadcrumb.html'"></div>

    <div class="content" ng-controller="AccountAccountTransactionActivityController">
        <div class="text-center">
            <a class="btn btn-danger btn-sm">  {{accountName | uppercase}} </a>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="clear0"></div>
                <div ng-controller="NavController">
                    <a ng-show="isAdmin" ui-sref="account-accounttransactionactivities-edit({ action: 'create', accountId:retrievedAccountId,transactionActivityId: 0})" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> Account Transaction Activities</a>

                    <!--<div class="text-center">
                        <a href="#" onclick="window.focus();window.print();" class="btn btn-primary2">Print</a>
                        </div>-->
                        <!-- <a class="btn btn-success btn-sm pull-right" ng-hide="{{accountBalance > 0 }}">Debt  : {{accountBalance}}</a>-->
                        <a class="btn btn-danger btn-sm pull-right">Account Balance  : {{accountBalance | number}}</a>

                    </div>
                <span ng-if="loadingSpinner" class="loadingSpinner">
                    <img src="/images/loading-bars.svg" width="45" height="45" /> Loading...
                </span>


                <div class="clear10"></div>

                <div style="height: 520px" class="grid" ui-grid="gridData" ui-grid-selection></div>



            </div>

        </div>
    </div>
</div>
