
<div id="header" ng-include="'/app/views/_common/header.html'"></div>

<aside id="menu" ng-include="'/app/views/_common/navigation.html'"></aside>

<div id="wrapper">

    <div ng-include="'/app/views/_common/Breadcrumb.html'"></div>

    <div class="content">
        <tabset>
            
            <tab>
                <tab-heading>
                    Unpaid Supplies
                </tab-heading>
                <div class="row" ng-controller="SupplierDashBoardUnPaidSupplyController">
                    <div class="col-lg-12">

                        <div class="clear5"></div>
                                            

                    </div>
                    <div class="clear0"></div>

                    <span ng-if="loadingSpinner" class="loadingSpinner">
                        <img src="/images/loading-bars.svg" width="45" height="45" /> Loading...
                    </span>

                    <div class="clear10"></div>

                    <div style="height: 520px;width:1000px" class="grid gridx" ui-grid="gridData" ui-grid-selection></div>

                    <div class="hr-line-dashed"></div>
                    <div class="hr-line-dashed"></div>
                  
                </div>
            </tab>

            <tab>
                <tab-heading>
                    Paid Supplies
                </tab-heading>
                <div class="row" ng-controller="SupplierDashBoardPaidSupplyController">
                    <div class="col-lg-12">


                        <div class="clear0"></div>

                        <span ng-if="loadingSpinner" class="loadingSpinner">
                            <img src="/images/loading-bars.svg" width="45" height="45" /> Loading...
                        </span>

                        <div class="clear10"></div>

                        <div style="height: 520px;width:1000px" class="grid gridx" ui-grid="gridData" ui-grid-selection></div>



                    </div>

                </div>
            </tab>
        </tabset>
    </div>
</div>
