
<div id="header" ng-include="'/app/views/_common/header.html'"></div>

<aside id="menu" ng-include="'/app/views/_common/navigation.html'"></aside>

<div id="wrapper">

    <div ng-include="'/app/views/_common/Breadcrumb.html'"></div>
   
    <div class="content" ng-controller="SupplierSupplyController">
        <div class="text-center">
            <a class="btn btn-danger btn-sm">  {{SupplierName | uppercase}} </a>
        </div>
        <tabset>
            <tab>
                <tab-heading>
                    Supply List
                </tab-heading>
                <div class="row">
                    <div class="col-lg-12">
                       
                        <div class="clear5"></div>

                        <a ng-show="isAdmin || isBranchManager" ui-sref="supplier-supply-edit({ action: 'create', supplierId:retrievedSupplierId,supplyId: 0})" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> Add Supply</a>

                        <span ng-if="loadingSpinner" class="loadingSpinner">
                            <img src="/images/loading-bars.svg" width="45" height="45" /> Loading...
                        </span>

                        <div class="clear10"></div>

                        <div style="height: 520px;width:1000px" class="grid" ui-grid="gridData" ui-grid-selection></div>



                    </div>

                </div>
            </tab>
            <tab>
                <tab-heading>
                    Unpaid Supplies
                </tab-heading>
                <div class="row" ng-controller="SupplierUnPaidSupplyController">
                    <span us-spinner="{radius:30, width:16, length: 16}" spinner-key="global-spinner"></span>
                    <div class="col-lg-12">

                        <div class="clear5"></div>

                        <!--<div class="col-md-6" ng-show="$scope.row.isSelected">-->
                        <div class="col-md-6">
                            <a ng-show="isAdmin" class="btn btn-danger btn-sm m-b-xs" ng-really-click="PaySupply()" ng-really-message="Click Ok to confirm payment" ng-disabled="gridApi.grid.selection.selectedCount == 0 "> Pay Supply(s)</a>
                        </div>


                        <div class="form-group">

                            <div class="col-md-6">
                                <div class="check-element sample-show-hide alert alert-success animate-show" ng-show="showMessagePaymentMade" style="clear:both;">
                                    <i class="fa-fw fa fa-check"></i>
                                    <span>Payment has been made</span>
                                </div>
                                <div class="check-element sample-show-hide alert alert-danger animate-show" ng-show="showMessagePaymentNotMade" style="clear:both;">
                                    <i class="fa-fw fa fa-check"></i>
                                    <span>Payment Failed to Save</span>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="clear0"></div>

                    <span ng-if="loadingSpinner" class="loadingSpinner">
                        <img src="/images/loading-bars.svg" width="45" height="45" /> Loading...
                    </span>

                    <div class="clear10"></div>

                    <div style="height: 520px;width:1000px" class="grid gridx" ui-grid="gridData" ui-grid-selection></div>

                    <div class="hr-line-dashed"></div>
                    <div class="hr-line-dashed"></div>
                    <div class="row" ng-controller="NavController">


                        <div ng-show="isAdmin" class="panel-body">


                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <label>Amount</label>
                                        <!--<input name="amount" class="form-control" disabled data-ng-model="supply.PaymentAmount" ng-change="UpdateSupplyAmount()" ng-maxlength="50" required ng-class="{ errorinput: form.amount.$invalid }">-->
                                        
                                        <input name="amount" class="form-control"  data-ng-model="supply.PaymentAmount" ng-change="UpdateSupplyAmount()" ng-maxlength="50" required ng-class="{ errorinput: form.amount.$invalid }">
                                        <span ng-show="form.amount.$invalid">
                                            <span ng-show="form.amount.$error.required" class="help-block error"><i class="fa fa-warning"></i> This is a required field.</span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <label>Payment Mode</label>
                                        <select style="border: none" name="paymentMethod" class="form-control col-sm-12" data-ng-model="supply.PaymentModeId" required ng-class="{errorinput:form.paymentMethod.$invalid}"
                                                data-ng-options="i.PaymentModeId as i.Name for i in paymentModes">
                                            <option value="">Please select</option>
                                        </select>

                                        <span ng-show="form.paymentMethod.$invalid">
                                            <span ng-show="form.paymentMethod.$error.required" class="help-block error"><i class="fa fa-warning"></i>PaymentMethod is a required field.</span>
                                        </span>

                                    </div>
                                </div>


                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="row">

                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <label>Branch</label>
                                        <select style="border: none" name="branch" class="form-control col-sm-12" data-ng-model="supply.BranchId" required ng-class="{errorinput:form.branch.$invalid}"
                                                data-ng-options="i.BranchId as i.Name for i in branches">
                                            <option value="">Please select</option>
                                        </select>

                                        <span ng-show="form.branch.$invalid">
                                            <span ng-show="form.branch.$error.required" class="help-block error"><i class="fa fa-warning"></i>Branch is a required field.</span>
                                        </span>

                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <label>Notes</label>

                                        <textarea ng-readonly="readOnly" name="notes" rows="6" class="form-control" ng-model="supply.Notes" required ng-class="{errorinput:form.notes.$invalid}"></textarea>
                                        <span ng-show="form.notes.$invalid">
                                            <span ng-show="form.notes.$error.required" class="help-block error"><i class="fa fa-warning"></i>Notes are required field.</span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dahsed"></div>


                        </div>
                    </div>
                </div>
            </tab>

            <tab>
                <tab-heading>
                    Paid Supplies
                </tab-heading>
                <div class="row" ng-controller="SupplierPaidSupplyController">
                    <div class="col-lg-12">


                        <div class="clear0"></div>

                        <span ng-if="loadingSpinner" class="loadingSpinner">
                            <img src="/images/loading-bars.svg" width="45" height="45" /> Loading...
                        </span>

                        <div class="clear10"></div>

                        <div style="height: 520px;width:1000px" class="grid gridx" ui-grid="gridData" ui-grid-selection></div>



                    </div>

                </div>
            </tab>
        </tabset>
    </div>
</div>
