
<div id="header" ng-include="'/app/views/_common/header.html'"></div>

<aside id="menu" ng-include="'/app/views/_common/navigation.html'"></aside>

<div id="wrapper">

    <div ng-include="'/app/views/_common/Breadcrumb.html'"></div>

    <div class="content">
        <div class="row" ng-controller="CasualWorkerDashBoardController">
            <div class="col-lg-12">

                <div class="clear0"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                                    <h3 class="m-xs text-uppercase">
                                        Casual Workers<span ng-if="loadingSpinner" class="loadingSpinner"><img src="/images/loading-bars.svg" /></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <span ng-if="loadingSpinner" class="loadingSpinner">
                    <img src="/images/loading-bars.svg" width="45" height="45" /> Loading...
                </span>

                <div class="clear10"></div>
                <div class="clear10"></div>
                <div class="clear10"></div>




                <div class="row">
                    <div class="col-md-6">
                        <div class="hpanel hbggreen">
                            <div class="panel-body">
                                <div class="text-center">
                                    <a style="color:white" href="#/casualWorkers/branch/2">
                                        <h3>KAWEMPE</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="hpanel hbgyellow">
                            <div class="panel-body">
                                <div class="text-center">
                                    <a style="color:white" href="#/casualWorkers/branch/1">
                                        <h3>SEGUKU</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="hpanel hbgblue">
                            <div class="panel-body">
                                <div class="text-center">
                                    <a style="color:white" href="#/casualWorkers/branch/3">
                                        <h3>WAKASANKE</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="hpanel hbgviolet">
                            <div class="panel-body">
                                <div class="text-center">
                                    <a style="color:white" href="#/casualWorkers/branch/20005">
                                        <h3>WAKASANKE MWASE</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-6">
                        <div class="hpanel hbgyellow">
                            <div class="panel-body">
                                <div class="text-center">
                                    <a style="color:white" href="#/casualWorkers/branch/10003">
                                        <h3>BIRA</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="hpanel hbgred">
                            <div class="panel-body">
                                <div class="text-center">
                                    <a style="color:white" href="#/casualWorkers/branch/5">
                                        <h3>KISENYI MWASE</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="hpanel hbggreen">
                            <div class="panel-body">
                                <div class="text-center">
                                    <a style="color:white" href="#/casualWorkers/branch/20006">
                                        <h3>SALES</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="hpanel hbgyellow">
                            <div class="panel-body">
                                <div class="text-center">
                                    <a style="color:white" href="#/casualWorkers/branch/20003">
                                        <h3>FAM-KISENYI</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

