
<div id="header" ng-include="'/app/views/_common/header.html'"></div>

<aside id="menu" ng-include="'/app/views/_common/navigation.html'"></aside>

<div id="wrapper">

    <div ng-include="'/app/views/_common/Breadcrumb.html'"></div>

    <div class="content" ng-controller="TransactionSubTypeEditController">


        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div>
                        <form name="form" class="form-horizontal ng-pristine ng-valid col-md-12" novalidate unsaved-warning-form>
                            <input type="hidden" data-description="This field is used for intergration testing" name="itest-Id" value="{{transactionSubType.TransactionSubTypeId}}" />
                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <i class="fa fa-laptop"></i> Edit TransactionSubType
                                    </tab-heading>

                                    <div class="panel-body">


                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <div class="col-sm-12">
                                                    <label>Name</label>
                                                    <input ng-readonly="readOnly" name="name" class="form-control" ng-model="transactionSubType.Name" ng-maxlength="50" required ng-class="{ errorinput: form.name.$invalid }">
                                                    <span ng-show="form.name.$invalid">
                                                        <span ng-show="form.name.$error.required" class="help-block error"><i class="fa fa-warning"></i> This is a required field.</span>

                                                        <span ng-show="form.name.$error.maxlength" class="help-block error"><i class="fa fa-warning"></i> Name should not exceed 50 characters.</span>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <div class="col-sm-12">
                                                    <label>Transaction Type</label>
                                                    <select style="border: none" name="transactionType" class="form-control col-sm-12" data-ng-model="transactionSubType.TransactionTypeId" required ng-class="{errorinput:form.transactionType.$invalid}"
                                                            data-ng-options="i.TransactionTypeId as i.Name for i in transactionTypes">
                                                        <option value="">Please select</option>
                                                    </select>

                                                    <span ng-show="form.transactionType.$invalid">
                                                        <span ng-show="form.transactionType.$error.required" class="help-block error"><i class="fa fa-warning"></i>Transaction Type is a required field.</span>
                                                    </span>

                                                </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>

                                            <div class="form-group">
                                                <div class="col-md-2">
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="check-element sample-show-hide alert alert-success animate-show" ng-show="showMessageSave" style="clear:both;">
                                                        <i class="fa-fw fa fa-check"></i>
                                                        <span>TransactionSubType has been saved</span>
                                                    </div>
                                                    <div class="check-element sample-show-hide alert alert-success animate-show" ng-show="showMessageFailedSave" style="clear:both;">
                                                        <i class="fa-fw fa fa-check"></i><span>TransactionSubType has not  been saved</span>
                                                    </div>
                                                    <div class="check-element sample-show-hide alert alert-success animate-show" ng-show="showMessageDeleted" style="clear:both;">
                                                        <i class="fa-fw fa fa-check"></i><span>TransactionSubType has been deleted</span>
                                                    </div>
                                                    <div class="check-element sample-show-hide alert alert-danger animate-show" ng-show="showMessageDeleteFailed" style="clear:both;">
                                                        <i class="fa-fw fa fa-check"></i><span>TransactionSubType has failed to be deleted</span>
                                                    </div>



                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="col-sm-8 col-sm-offset-2">

                                                    <button class="btn btn-default" type="submit" ng-click="Cancel()">
                                                        Back
                                                    </button>

                                                    <div class="btn-group">
                                                        <button ng-really-click="Save(transactionSubType)" ng-really-message='Are you sure you want to add this transaction subtype' class="btn btn-info dropdown-toggle" ng-disabled="!form.$valid">
                                                            Save
                                                        </button>
                                                        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">

                                                            <li ng-show="transactionSubType.TransactionSubTypeId > 0">
                                                                <a ng-really-message='Are you sure you want to delete this TransactionSubType' ng-disabled="!form.$valid" class="btn text-align-left" href="" ng-really-click="Delete(transactionSubType.TransactionSubTypeId)" data-original-title="Delete">Delete</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>




                                        </div>
</div>

                                </tab>



                                <tab>
                                    <tab-heading>
                                        <i class="fa fa-desktop"></i> Properties
                                    </tab-heading>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td width="30%">
                                                    <span class="font-bold">Id</span>
                                                    <br />
                                                    <span class="font-trans">Id of TransactionSubType</span>
                                                </td>
                                                <td>
                                                    <span class="font-normal">{{transactionSubType.TransactionSubTypeId}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="font-bold"> Created By</span>
                                                    <br />
                                                    <span class="font-trans">Original author</span>
                                                </td>
                                                <td>
                                                    <span class="font-normal">{{transactionSubType.CreatedBy}} </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="font-bold"> Created on</span>
                                                    <br />
                                                    <span class="font-trans">Date Time TransactionSubType created</span>
                                                </td>
                                                <td>
                                                    <span class="font-normal">{{transactionSubType.CreatedOn|date:"yyyy-MM-dd hh:mm" }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="font-bold">Last edited by</span>
                                                    <br />
                                                    <span class="font-trans">Editor who last edited  this TransactionSubType </span>
                                                </td>
                                                <td>
                                                    <span class="font-normal">{{transactionSubType.UpdatedBy}}  </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="font-bold"> Last edited</span>
                                                    <br />
                                                    <span class="font-trans">Date Time this TransactionSubType was last edited</span>
                                                </td>
                                                <td>
                                                    <span class="font-normal">{{transactionSubType.Timestamp | date:"yyyy-MM-dd hh:mm"}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </tab>
                            </tabset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


